<h2>ログイン</h2>
<% if flash.alert %>
  <p class="alert"><%= flash.alert %></p>
<%end%>
<%= form_with url: session_path, id: "login_form", local: true do |f| %>
  <div>
    <label>ユーザー名：</label>
    <%= f.text_field name="name" %>
  </div>
  <div>
    <label>パスワード：</label>
    <%= f.password_field name="password" %>
  </div>
  <div>
    <%= f.submit value="ログイン" %>
  </div>
<% end %>
