<% @page_title = "アカウント情報の編集" %>

<h1><%= @page_title %></h1>

<div class="toolbar"><%= link_to "マイページに戻る",  :account %></div>

<%= form_with model: @member, as: "account",url: :account, local: true do |form| %>
  <%= render  "shared/member_form", form: form %>
  <div><%= form.submit %></div>
<% end %>
